// Variables locales

// Colores
$mainColor: rgb(238, 238, 238);
$greyColor: rgb(111 121 131);
$borderColor: rgb(225 225 225);
$nosotrosColor: rgb(90, 99, 112);
$footerColor: rgb(181, 181, 181);
$svgColor: rgb(90 99 112);
$fieldsetColor: rgb(127, 136, 146);
$formColor: rgb(80, 90, 133); 
$fontColor: white;

//Fonts
$mainFont: 'Raleway', sans-serif;
$headingFont: 'Playfair Display', serif;
$textSm: 1.6rem;
$textMd: 1.7rem;
$textLg: 1.8rem;
$textBtn: 2rem;
$textBold: 900;

//Padding, Margin, Width
$width: 100%;
$padding: 2rem;
$paddingTop: 5rem;
$paddingBottom: 5rem;

